<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<!-- https://www.youtube.com/watch?v=je1r0Qaz0Gs&list=PLYAyQauAPx8l7G8lTbSv23UTAwbVORY1r -->

<body>
    <div id="app">
       <label for="">Escribe tu nombre</label>
       <input type="text" v-model="nombre">
       <hr> 
       <div>Hola {{nombre}}</div>
       <hr>
       <select v-model="fruta" name="" id="">
        <option value="1">manzana</option>
        <option value="2">pera</option>
        <option value="3">uva</option>
        <option value="4">sandia</option>
        <option value="5">durazno</option>
       </select>
       <div>
        <label for="">Seleccione</label><input type="checkbox" v-model="activo">
    </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        //data,methods, props, mounted, created, computed, watch, destroyed
        const holaMundo = {
            data() {
                return {
                    nombre:'',
                    fruta:'1',
                    activo:true
                }
            },
            methods:{
               
            }
        }
        var mounted = Vue.createApp(holaMundo).mount('#app')
    </script>
</body>

</html>