<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Document</title>
    <style>
        .rounded{
            border-radius: 50px;
        }
        .square{
            height: 50px;
            width: 50px;
        }
        .colorRed{
            background-color: red !important;
        }

    </style>
</head>

<!-- https://www.youtube.com/watch?v=je1r0Qaz0Gs&list=PLYAyQauAPx8l7G8lTbSv23UTAwbVORY1r -->

<body>
    <div id="app">
        <div class="container" style="padding-top:50px">
            <input type="text" v-model="n1">
            <input type="text" v-model="n2">
            <h5>La suma es {{resultado}}</h5>
            <hr>
            <label>Escriba una fruta</label>
            <input type="text" v-model="fruta"/>
            <button @click="agregarFruta">Agregar</button>
            <label>Ha agregado un total de {{totalFrutas}} frutas </label>
            <br>
            <ul>
                <li v-for="fruta in frutas">{{fruta}}</li>
            </ul>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        
        const app = {
            data(){
                return {
                     n1:0,
                     n2:0,   
                     frutas:[]                                             
                }                
            },
            computed:{
                resultado: function(){
                    return parseFloat(this.n1) + parseFloat(this.n2)
                },
                totalFrutas: function(){
                    return this.frutas.length
                }
            },
            methods:{
                agregarFruta(){
                    this.frutas.push(this.fruta)
                    this.fruta = ''
                }
            }                  
        }
        var mounted = Vue.createApp(app).mount('#app')
    </script>
</body>

</html>