<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<!-- https://www.youtube.com/watch?v=je1r0Qaz0Gs&list=PLYAyQauAPx8l7G8lTbSv23UTAwbVORY1r -->

<body>
    <div id="app">
        <ul>
            <li v-for="fruta in frutas" v-bind:key="fruta">{{fruta}}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="fruta in frutas_con_ids" v-bind:key="fruta.id">{{fruta.id}} - {{fruta.nombre}}</li>
        </ul>
        <select v-model="frutaId">
            <option v-for="(fruta,index) in frutas_con_ids" v-bind:value="fruta.id"> {{index}} {{fruta.nombre}}</option>
        </select>
        <div>{{frutaId}}</div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        //data,methods, props, mounted, created, computed, watch, destroyed
        const holaMundo = {
            data() {
                return {
                    frutaId:'',
                    frutas: ['Manzana', 'Pera', 'Uva'],
                    frutas_con_ids: [
                        { id: 1, nombre: 'Manzana' },
                        { id: 2, nombre: 'Peraa' },
                        { id: 3, nombre: 'Uva' },
                    ]
                }
            },
            methods: {

            }
        }
        var mounted = Vue.createApp(holaMundo).mount('#app')
    </script>
</body>

</html>